<div class="highchart-inner component-inner" >
    {{> component this}}
    <div id="container" class="highchart-widget component-widget" style="min-width: 310px; height: 400px; margin: 0 auto">
    </div>
</div>